<div class="my-5">
  <h2 class="text-center my-5">Team Members - Alignment: Good</h2>
  <hr>
  <div class="grid">
    <div *ngFor="let goodHero of goodTeam; let i = index" class="grid">
      <app-card *ngIf="i < 3" [dataEntrante]="goodHero"></app-card>
    </div>
  </div>
  <hr>
  <h2 class="text-center my-5">Team Members - Alignment: Bad</h2>
  <hr>
  <div class="grid">
    <div *ngFor="let badHero of badTeam; let i = index" class="grid">
      <app-card *ngIf="i < 3" [dataEntrante]="badHero"></app-card>
    </div>
  </div>
</div>
