<div class="row">
  <div class="col">
    <div class="card p-1" style="width: 18rem;">
      <img [src]="incomingData.image.url" class="card-img-top" [alt]="incomingData.name">
      <div class="card-body">
        <h5 class="card-title">Name: {{ incomingData.name }}</h5>
        <h5 class="card-title">Powerstats:</h5>
        <ul>
          <li>Combat: {{ incomingData.powerstats.combat }}</li>
          <li>Durability: {{ incomingData.powerstats.durability }}</li>
          <li>Intelligence: {{ incomingData.powerstats.intelligence }}</li>
          <li>Power: {{ incomingData.powerstats.power }}</li>
          <li>Speed: {{ incomingData.powerstats.speed }}</li>
          <li>Strength: {{ incomingData.powerstats.strength }}</li>
        </ul>
        <button class="btn btn-primary mx-2" (click)="seeDetails(incomingData.id)">Details</button>
        <button class="btn btn-danger" (click)="deleteHero(incomingData)">Delete Hero</button>
      </div>
    </div>
  </div>
</div>
