<div class="row">
  <div class="col">
    <div class="card p-1" style="width: 18rem;">
      <img [src]="hero.image.url" class="card-img-top" [alt]="hero.name">
      <div class="card-body">
        <h5 class="card-title">Name: {{ hero.name }}</h5>
        <h5 class="card-title">Powerstats:</h5>
        <ul>
          <li>Combat: {{ hero.powerstats.combat }}</li>
          <li>Durability: {{ hero.powerstats.durability }}</li>
          <li>Intelligence: {{ hero.powerstats.intelligence }}</li>
          <li>Power: {{ hero.powerstats.power }}</li>
          <li>Speed: {{ hero.powerstats.speed }}</li>
          <li>Strength: {{ hero.powerstats.strength }}</li>
        </ul>
        <button class="btn btn-primary mx-2" (click)="seeDetails(hero.id)">Details</button>
        <button class="btn btn-danger" (click)="deleteHero(hero)">Delete Hero</button>
      </div>
    </div>
  </div>
</div>
