<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="text-center card-title">Powerstats:</h4>
    <ul class="text-center">
      <li><b>Combat:</b> {{ +(team[0]?.powerstats?.combat) + +(team[1]?.powerstats?.combat) + +(team[2]?.powerstats?.combat) + +(team[3]?.powerstats?.combat) + +(team[4]?.powerstats?.combat) + +(team[5]?.powerstats?.combat) }}</li>
      <li><b>Durability:</b> {{ +(team[0]?.powerstats?.durability) + +(team[1]?.powerstats?.durability) + +(team[2]?.powerstats?.durability) + +(team[3]?.powerstats?.durability) + +(team[4]?.powerstats?.durability) + +(team[5]?.powerstats?.durability) }}</li>
      <li><b>Intelligence:</b> {{ +(team[0]?.powerstats?.intelligence) + +(team[1]?.powerstats?.intelligence) + +(team[2]?.powerstats?.intelligence) + +(team[3]?.powerstats?.intelligence) + +(team[4]?.powerstats?.intelligence) + +(team[5]?.powerstats?.intelligence) }}</li>
      <li><b>Power:</b> {{ +(team[0]?.powerstats?.power) + +(team[1]?.powerstats?.power) + +(team[2]?.powerstats?.power) + +(team[3]?.powerstats?.power) + +(team[4]?.powerstats?.power) + +(team[5]?.powerstats?.power) }}</li>
      <li><b>Speed:</b> {{ +(team[0]?.powerstats?.speed) + +(team[1]?.powerstats?.speed) + +(team[2]?.powerstats?.speed) + +(team[3]?.powerstats?.speed) + +(team[4]?.powerstats?.speed) + +(team[5]?.powerstats?.speed)}}</li>
      <li><b>Strength:</b> {{ +(team[0]?.powerstats?.strength) + +(team[1]?.powerstats?.strength) + +(team[2]?.powerstats?.strength) + +(team[3]?.powerstats?.strength) + +(team[4]?.powerstats?.strength) + +(team[5]?.powerstats?.strength) }}</li>
    </ul>
  </div>
</div>
