<div class="my-5">
  <form>
      <p>
          <label
              for="characterName"
              class="mx-1"
          >Character Name:</label>
          <input
              type="search"
              name="characterName"
              placeholder="e.g. Batman ..."
              #characterName
              [(ngModel)]="heroName"
              autocomplete="off"
              class="mx-1"
          >
          <button
              (click)="searchCharacter($event, characterName.value); characterName.value = ''"
              class="btn btn-outline-primary mx-1"
          >Search</button>
          <button
              (click)="cleanResults()"
              class="btn btn-outline-danger"
          >Clean</button>
          <span *ngIf="heroName" style="display: block;">
              Searching <b>{{ heroName }}</b>...
          </span>
          <span *ngIf="errorMessage && !heroName" style="display: block;" class="text-danger">
              {{ errorMessage }}
          </span>
      </p>
  </form>
  <br>
  <div class="row">
    <div class="col" *ngFor="let result of characterResults">
      <div class="card" style="width: 18rem;">
        <img [src]="result.image.url" alt="result.name" class="card-img-top">
        <h5 class="card-title">Name: {{ result.name }}</h5>
        <button type="button" class="btn btn-outline-info" (click)="addCharacter(result)">Add Character</button>
      </div>
    </div>
  </div>
</div>
